   <ng-include src="'partials/menu.html'" scope="" onload=""></ng-include>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sobre
                    <small>Nós</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/home">Home</a>
                    </li>
                    <li class="active">Sobre</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="img/tdc3.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>Nossa Empresa</h2>
                <p>Nossa missão é oferecer um ensino com qualidade, por meio de profissionais qualificados para garantir a satisfação e o atendimento aos requisitos de nossos alunos, direcionando esforços para a formação de um ser humano completo, que conheça seus direitos e cumpra seus deveres, que consiga ter uma ideia do mundo.</p>
​
                <p>Desenvolver esforços em prol da educação e da cidadania da criança, através de atendimento de qualidade, criar condições de operacionalização dos dispositivos do Estatuto da criança e do Adolescente, dentro de nossa área de competência.</p>
​
                <p>Os profissionais buscam a formação exigida e possuem formação na área educacional, ou especificamente na Educação Infantil, proporcionamos aos alunos, um ambiente de recreação e educação apropriados para a sua faixa de idade.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; www.escolaturmadochaves.com.br 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

