<ng-include src="'partials/menu.html'" scope="" onload=""></ng-include>

        <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Berçário e educação infantil
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i>Berçário I e II</h4>
                    </div>
                    <div class="panel-body">
                        <p>Nosso Berçário é composto por berçaristas totalmente qualificadas para realizarem
                           um trabalho extremamente profissional e cuidadoso. Acompanha de perto toda a rotina
                           dos bebês monitorando e fornecendo aos pais um relatório diário completo</p>
                        <a href="#/home" class="btn btn-default">Leia mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>Maternal I e II</h4>
                    </div>
                    <div class="panel-body">
                        <p>Visa a construção da aprendizagem em um processo divertido e criativo, contribuindo para a formação
                            de indivíduos responsáveis e capazes de enfrentar os desafios da vida.<br/><br/><br/></p>
                        <a href="#/home" class="btn btn-default">Leia mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i>Pré I e II</h4>
                    </div>
                    <div class="panel-body">
                         <p>Construção da aprendizagem em um processo divertido e criativo, contribuindo para a formação
                            de indivíduos responsáveis e capazes de enfrentar os desafios da vida.<br/><br/><br/></p>
                        <a href="#/home" class="btn btn-default">Leia mais</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

          <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Portfolio</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="img/tdc.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="img/tdc2.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="img/tdc3.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="img/tdc5.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="img/tdc6.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="img/tdc7.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Atendimento</h2>
            </div>
            <div class="col-md-6">
                <p>Avenida Tancredo de Almeida Neves, 849, Jd. Anchieta, Ferraz de Vasconcelos</p>
                <ul>
                    <li><strong>Expediente:</strong>
                    </li>
                    <li>Horário 6h30 às 19h</li>
                    <li>Meio-Período: 4h</li>
                    <li>Semi-Integral: 5h às 7h</li>
                    <li>Integral: 8h às 12h</li>
                    <li>Serviços todas refeições mediante contratação</li>
                </ul>
                <p><strong>Horas adicionais:</strong> R$ 10,00 cada hora. <strong>Tolerância (entrada/saída):</strong> 10 minutos do horário contratado, será cobrado 1 hora adicional.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="img/tdc2.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p><strong>Formas de Pagamentos</strong> Boleto Bancário:
                    (Caso ultrapasse o vencimento, serão cobrados Juros e Multa).
                    Pagamento em Dinheiro ou Cartão de Débito/Crédito
                    (Mensalidade Somente Débito).</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#/home">Regras</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2017</p>
                </div>
            </div>
        </footer>

    </div>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

